<!doctype html>
<html>
<head>
    <title>Tailor Example Application</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
</head>
<body>
Component 1
<fragment src="http://localhost:10801"></fragment>
Component 2
<fragment src="http://localhost:10801"></fragment>
Component 3
<fragment src="http://localhost:10801"></fragment>
Component 4
<fragment src="http://localhost:10801"></fragment>
Component 5
<fragment src="http://localhost:10801"></fragment>
Component 6
<fragment src="http://localhost:10801"></fragment>
Component 7
<fragment src="http://localhost:10801"></fragment>
Component 8
<fragment src="http://localhost:10801"></fragment>
Component 9
<fragment src="http://localhost:10801"></fragment>
Component 10
<fragment src="http://localhost:10801"></fragment>
</body>
</html>
